.dropdown{ 
    position: relative;
    display: inline-block;
    align-items: left; 

    div{
        visibility: hidden;
        opacity: 0;
    }

    &:hover{
        div{
            visibility: visible;
            opacity: 100;
            transition: opacity 200 ease-in;
        }
    }
}